/*
CSS Credit: http://www.templatemo.com/
*/
@font-face {
  font-family: 'b nazanin';
  src: 
	  url('fonts/BNazanin.eot') format('eot'),  /* IE6,8 */
	  url('fonts/BNazanin.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	  url('fonts/BNazanin.ttf') format('truetype');  /* Saf3?5, Chrome4+, FF3.5, Opera 10+ */
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'BYekan';
    src:
		url('fonts/BYekan.eot') format('eot'),
		url('fonts/BYekan.woff') format('woff'),
		url('fonts/BYekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	}

body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: BYekan;
	font-size: 11px;
	color: #fff;
	background: #fff;
}

a:link, a:visited { color: #F1A5D5; text-decoration: underline; } 
a:active, a:hover { color: #FFFF00; text-decoration:none; }

h1 {
	margin: 0px;
	padding: 10px 0 20px 0;
	font-size: 24px;
	color: #ffffff;
	font-weight: normal;
}

h2 {
	margin: 0 0 20px 0;
	padding: 10px 0 10px 15px;
	font-size: 24px;
	color: #ffffff;
	font-weight: normal;
	background-color: #440522;
}

h3 {
	margin: 0 0 10px 0;
	padding: 5px 0 5px 10px;
	font-size: 16px;
	color: #ffffff;
	font-weight: normal;
	background-color: #be457c;
}

h4 {
    margin: 0;
    padding: 5px 15px 5px 0px;
    font-size: 16px;
    color: #ffffff;
    font-weight: normal;
    background-color: #be457c;
    text-align: right;
}

p {
	margin: 0px;
	padding: 0 0 10px 0;
	text-align: justify;
}

.price{
	font-size:16px;
	margin-bottom: 10px;
}

.price span{
	font-size:16px;
	color: #ffffff;
}

.buynow a{
	clear: both;
	display: block;
	float: left;
	width: 80px;
	padding: 1px 0;
	margin: 0 15px 10px 0;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	background: #be457c;
	border-bottom: 1px solid #f285b6;
}

.cleaner {
	clear: both;
	width: 100%;
	height: 1px;
	font-size: 1px;	
}

.cleaner_with_height {
	clear: both;
	width: 100%;
	height: 30px;
	font-size: 1px;	
}

#templatemo_container{
	width: 940px;
	margin: 0 auto;
	border: 10px solid #f2d9ef;
}

/* top panel */
#templatemo_top_panel {
	overflow: hidden;	
	width: 880px;
	padding: 5px 30px;
	background: #c82c74;
	border-bottom: 1px solid #870843;
}

/* Social Icons */
.social-icons {
	padding: 0;
	margin: 0 0 0 50px;
	list-style-type: none;
	width: 400px;
	float: left;
}
.social-icons ul{
    height: 38px;
    float: right;
    margin: 0px;
    padding: 0px;
}
.social-icons li{
	float: left;
	margin-right: 2px;
	margin-bottom: 2px;
	padding: 0px;
	display: inline;
	width: auto;
 
}			
.social-icons li a {
	-moz-transition: all 0.3s ease 0s;
	display: block;
	float: left;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 40px;
	height: 40px;
	text-indent: -9999px;
}
.social-icons li a:hover {
	background-position: 0 -40px;
}
.social-icons li a {
	background-color:transparent;
}
.social-icons li.facebook a {
	background: url(images/icons/facebook.png) no-repeat 0 0;
}
.social-icons li.facebook a:hover {
	background-color: #3b5998;
}
.social-icons li.googleplus a {
	background: url(images/icons/googleplus.png) no-repeat 0 0;
}
.social-icons li.googleplus a:hover {
	background-color: #d94a39;
}
 
.social-icons li.rss a {
	background: url(images/icons/rss.png) no-repeat 0 0;
}
.social-icons li.rss a:hover {
	background-color: #fe9900;
}
.social-icons li.skype a {
	background: url(images/icons/skype.png) no-repeat 0 0;
}
.social-icons li.skype a:hover {
	background-color: #18b7f1;
}
.social-icons li.twitter a {
	background: url(images/icons/twitter.png) no-repeat 0 0;
}
.social-icons li.twitter a:hover {
	background-color: #48c4d2;
}
.social-icons li.youtube a {
	background: url(images/icons/youtube.png) no-repeat 0 0;
}
.social-icons li.youtube a:hover {
	background-color: #f45750;
}
/* Social Icons */
#templatemo_top_panel #templatemo_shopping_cart {
	float: right;
	width: 400px;
	padding-top: 10px;
	text-align: right;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
}

#templatemo_top_panel #templatemo_shopping_cart span{
	font-weight: normal;
}
/* end of top panel */

/* header panel */
#templatemo_container #templatemo_header {
	overflow: hidden;	
	width: 880px;
	height: 80px;
	padding: 15px 30px;
	background: #ebbce5 url(images/templatemo_header_bg.jpg) bottom right no-repeat;
}
/* end of header panel */

/* header panel */
#templatemo_container #templatemo_banner {
	overflow: hidden;	
	width: 880px;
	height: 190px; /* + 60 for padding top and bottom */
	padding: 30px 30px;
	background: #ffffff url(images/templatemo_banner_bg.jpg) top right no-repeat;
}
/* end of header panel */

/* menu */
#templatemo_menu_panel{
	overflow: hidden;	
	width: 880px;
	height: 40px;
	padding: 0 30px;
	background: #440522;
}

#templatemo_menu_panel ul {
	float: left;
	width: 930px;
	margin: 0;
	padding: 5px 0 0 0;
	list-style: none;
}

#templatemo_menu_panel ul li{
	display: inline;
}

#templatemo_menu_panel ul li a{
	float: right;
	width: 110px;
	padding: 5px 0;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #ebbce5;
	border-left: 1px solid #5f3b11;	
}

#templatemo_menu_panel li a:hover, #templatemo_menu_panel li .current{
	color: #ffffff;
}
/* end of menu */

/* content */
#templatemo_content{
	width: 880px;
	padding: 30px 30px 0 30px;
	background: #811044;
}

#templatemo_content #templatemo_content_left {
	float: left;
	width: 630px;
	background: #811044;
}

#templatemo_content_left .product_box {
	float: left;
	width: 200px;
	margin-right: 10px;
}

#templatemo_content_left .product_box img{
	margin-bottom: 5px;
}

#templatemo_content #templatemo_content_right {
	float: right;
	width: 220px;
}

.templatemo_right_section {
 	width: 210px;	
	border: 5px solid #f8c7f2;
	background: #ebbce5;
	margin-bottom: 30px;
}

.templatemo_right_section_content{
 	width: 180px;
	padding: 15px;	
} 
.templatemo_right_section_content h4{
	margin-bottom: 0px;	
} 

.templatemo_right_section_content form{
	padding: 0;
	margin: 0;
} 
/*4*/
.templatemo_right_section_content input{
	width: 180px;
	margin-bottom: 15px;
}
/*3*/
.templatemo_right_section_content .button{
	width: 70px;
	margin-bottom: 0px;
}
/*1*/
.templatemo_right_section_content ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
/*2*/
.templatemo_right_section_content li {
    margin-bottom: 3px;
    text-align: right;
}

.templatemo_right_section_content li a{
	color: #be457c;
	padding: 0 0 0 20px;
	text-decoration: none;	
	background:	url(images/templatemo_list_icon.gif) bottom left no-repeat;	
}

.templatemo_right_section_content li a:hover{
	color: #440522;
	text-decoration: none;
	background:	url(images/templatemo_list_icon_hover.gif) bottom left no-repeat;
}
/* end of content */

/*  footer */

#templatemo_footer_panel{
	overflow: hidden;
	width: 900px;
	padding: 15px 20px;
	background: #333333;
}

#templatemo_footer_panel img{
	margin: 0 5px 0 0;
}

#templatemo_footer_panel #footer_left {
	float: left;
	width: 340px;
	padding: 0 25px 0 0;
	margin: 0 15px 0 0;	
	border-right: 1px solid #4c4c4c;

}

#templatemo_footer_panel #footer_right {
	float: right;
	width: 485px;
	text-align: left;
}
/* end of footer */

/* start sidebar Style */
#sidebar {
    width: 220px;
	border: 5px solid #CB6594;
	background: #811044;
    margin-bottom: 30px;
	position: fixed;
    top: 10px;
    left: 6px;
	
}
#sidebar .sabad { 
	margin: 5px;
	float: right;
	color: #440522;
	
}
#sidebar  a {
    cursor:pointer;
    padding: 5px;
	margin: 7px;
	background: #440522;
	float: left;
}
/* end sidebar Style  */

.h3_details {
    text-align: center;
}
.price {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
}